.input-text {
  width:550px;
  margin:20px 0;
  display: flex;
}
.input-text label {
  width:150px;
  text-align: left;
  font-size: 12px;
  line-height: 36px;
}
.input-text input {
  width:400px;
  height:36px;
  line-height: 36px;
  padding: 0 10px;
  border:1px solid #ccc;
}

.label-pos-left .input-text {
  display: flex;
  flex-direction: row;
}
.label-pos-top .input-text {
  display: flex;
  flex-direction: column;
}
