/***********************Header CSS****************/
body {
  font-family: 'Roboto', sans-serif;
  background: #f8f9fa;
}
header {
  width: 100%;
  border-bottom: #f2f2f2;
  box-shadow: 1px 1px 4px #e2e2e2;
  display: flex;
  align-items: center;
  padding: 5px;
  background: #fff;
}
.logo {
  flex-grow: 1;
  text-align: left;
  margin:15px;
  display: flex;
  font-size:26px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  /*visibility: hidden;*/
}
.logo img {
  margin:1px 10px 0 0;
}
.header-links {
  flex-grow: 2;
  text-align: right;
}
.header-links a {
  display: inline-flex;
}
.header-links .material-icons {
  font-size:21px;
  margin: 0 5px;
  color: #f54b42;
  text-shadow: 1px 1px 3px #f2f2f2;
}


/***********Left Navigation***************/
.left-nav {
  width: 13%;
  background: #3e2bc5;
  background: #f5425d;
  min-height: 700px;
  padding: 10px 0px;
  color: #fff;
  width: 55px;
  overflow: hidden;
}
.left-nav ul li a {
  padding: 13px 13px;
  border-left: 3px solid transparent;
  font-size: 13px;
  margin-bottom: 13px;
  color: #fff;
  display: block;
  text-decoration: none;
  min-width: 200px;
  display: flex;
}
.left-nav ul li a:hover,
.left-nav ul li a.active {
  border-left: 3px solid transparent;
  background: #de2641;
  border-left: 3px solid #ff9eac;
}
.left-nav ul li a i {
  width: 20px;
  color: #f2f2f2;
  text-align: center;
  margin-right: 20px;
}
/**********************Content*******************/
.content {
  width: 100%;
  padding: 10px 10px;
  min-height: calc(100vh - 80px);
}
.sub-header {
  text-align: right;
  padding-right: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.sub-header a {
  display: inline-block;
  padding:0 4px 5px;
  margin:0 15px -2px ;
}
.sub-header a.active {
  border-bottom: 4px solid #f5425d
}

.tabs {
  text-align: left;
  padding-right: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.tabs a {
  display: inline-block;
  padding:0 4px 5px;
  margin:0 15px -2px ;
}
.tabs a.active {
  border-bottom: 4px solid #f5425d
}
