body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
input:focus, select:focus {
  outline: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.fs10 {
  font-size: 10px;
}
.fs11 {
  font-size: 11px;
}
.fs12 {
  font-size: 12px;
}
.clr-grey {
  color: #999;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.display-flex {
  display: flex;
}
.display-inline {
  display: inline
}
.display-block {
  display: block;
}
.display-inline-block{
  display: inline-block;
}
.display-none {
  display: none
}
.align-left{
  text-align: left;
}
.align-right {
  text-align: right
}
.pos-rel {
    position: relative
}
.pos-abs {
    position: absolute
}
.pos-fix {
    position: fixed
}


/**
* ------------------------------------------------------------
 Margin Classes
* ------------------------------------------------------------
*/

.m0 { margin: 0}
.m1 { margin: 1px}
.m2 { margin: 2px}
.m3 { margin: 3px}
.m5 { margin: 5px}
.m10 { margin: 10px}
.m15 { margin: 15px}
.m20 { margin: 20px}
.m25 { margin: 25px}
.m30 { margin: 30px}
.m40 { margin: 40px}
.m50 { margin: 50px}
.m100 { margin: 100px}

.mt1 { margin-top: 1px}
.mt2 { margin-top: 2px}
.mt3 { margin-top: 3px}
.mt5 { margin-top: 5px}
.mt10 { margin-top: 10px}
.mt15 { margin-top: 15px}
.mt20 { margin-top: 20px}
.mt25 { margin-top: 25px}
.mt30 { margin-top: 30px}
.mt40 { margin-top: 40px}
.mt50 { margin-top: 50px}
.mt100 { margin-top: 100px}

.mr1 { margin-right: 1px}
.mr2 { margin-right: 2px}
.mr3 { margin-right: 3px}
.mr5 { margin-right: 5px}
.mr10 { margin-right: 10px}
.mr15 { margin-right: 15px}
.mr20 { margin-right: 20px}
.mr25 { margin-right: 25px}
.mr30 { margin-right: 30px}
.mr40 { margin-right: 40px}
.mr50 { margin-right: 50px}
.mr100 { margin-right: 100px}

.mb1 { margin-bottom: 1px}
.mb2 { margin-bottom: 2px}
.mb3 { margin-bottom: 3px}
.mb5 { margin-bottom: 5px}
.mb10 { margin-bottom: 10px}
.mb15 { margin-bottom: 15px}
.mb20 { margin-bottom: 20px}
.mb25 { margin-bottom: 25px}
.mb30 { margin-bottom: 30px}
.mb40 { margin-bottom: 40px}
.mb50 { margin-bottom: 50px}
.mb100 { margin-bottom: 100px}

.ml1 { margin-left: 1px}
.ml2 { margin-left: 2px}
.ml3 { margin-left: 3px}
.ml5 { margin-left: 5px}
.ml10 { margin-left: 10px}
.ml15 { margin-left: 15px}
.ml20 { margin-left: 20px}
.ml25 { margin-left: 25px}
.ml30 { margin-left: 30px}
.ml40 { margin-left: 40px}
.ml50 { margin-left: 50px}
.ml100 { margin-left: 100px}


/**
 * ------------------------------------------------------------
  Padding Classes
 * ------------------------------------------------------------
 */

.p1 {padding: 1px}
.p2 { padding: 2px}
.p3 { padding: 3px}
.p5 { padding: 5px}
.p7 { padding: 7px}
.p10 { padding: 10px}
.p15 { padding: 15px}
.p20 { padding: 20px}
.p30 { padding: 30px}
.p40 { padding: 40px}
.p50 { padding: 50px}
.p100 { padding: 100px}

.pt1 { padding-top: 1px}
.pt2 { padding-top: 2px}
.pt3 { padding-top: 3px}
.pt5 { padding-top: 5px}
.pt10 { padding-top: 10px}
.pt15 { padding-top: 15px}
.pt20 { padding-top: 20px}
.pt30 { padding-top: 30px}
.pt40 { padding-top: 40px}
.pt50 { padding-top: 50px}
.pt100 { padding-top: 100px}

.pr1 { padding-right: 1px}
.pr2 { padding-right: 2px}
.pr3 { padding-right: 3px}
.pr5 { padding-right: 5px}
.pr10 { padding-right: 10px}
.pr15 { padding-right: 15px}
.pr20 { padding-right: 20px}
.pr30 { padding-right: 30px}
.pr40 { padding-right: 40px}
.pr50 { padding-right: 50px}
.pr100 { padding-right: 100px}

.pb1 {padding-bottom: 1px}
.pb2 { padding-bottom: 2px}
.pb3 { padding-bottom: 3px}
.pb5 { padding-bottom: 5px}
.pb10 { padding-bottom: 10px}
.pb15 { padding-bottom: 15px}
.pb20 { padding-bottom: 20px}
.pb30 { padding-bottom: 30px}
.pb40 { padding-bottom: 40px}
.pb50 { padding-bottom: 50px}
.pb100 { padding-bottom: 100px}

.pl1 { padding-left: 1px}
.pl2 { padding-left: 2px}
.pl3 { padding-left: 3px}
.pl5 { padding-left: 5px}
.pl10 { padding-left: 10px}
.pl15 {  padding-left: 15px}
.pl20 { padding-left: 20px}
.pl30 { ding-left: 30px}
.pl40 { padding-left: 40px}
.pl50 { padding-left: 50px}
.pl100 { padding-left: 100px}

/**********************************************************/
/**************************************************/
a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
a:hover {
  cursor: pointer;
}
select {
  width: 100px;
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-left:15px;
  font-size: 13px;
  color: #666;
}
.data-table {
  border:none;
  width: 100%
}
.data-table tr td {
  border-bottom: 1px solid #ddd;
  padding:10px;
  font-size: 14px;
}
.data-table tr:nth-child(even) {
  background: #f5f5f5;
}
.data-table tr:nth-child(1) {
  font-weight: 500;
  color: #333;
}

/**********Button classes ****************/
.btn {
    white-space: nowrap;
    font-weight: normal;
    font-family: Segoe UI;
    padding: 0 15px;
    height: 45px;
    line-height: 45px;
    min-width: 100px;
    border-radius: 4px;
    font-size: 15px;
}
.btn:focus {
  outline: 0
}
.btn i {
  line-height: 35px;
  margin-right:7px;
}
.btn:disabled, .btn:disabled:hover {
  background: #e0e2e4;
  color: #8c9294;
  border: none;
}
.btn.small {
  height: 35px;
  line-height: 35px;
}
.btn-primary {
    background: #f5425d;
    color: #fff;
    border:none;
}
.btn-primary-white {
    background: #fff;
    color: #000;
    border:none;
}
.btn-primary.reverse {
    background: #fff;
    color: #00497a;
    border:none;
}
.btn-primary:hover {
    background: #f5425d;
    border:none;
    cursor: pointer;
}
.btn-secondary {
    background: #fff;
    color: #6aa7c6;
    border: 1px solid #6aa7c6;
}
.btn-secondary.reverse {
    background: #00497a;
    border: 1px solid #6aa7c6;
}
.btn-secondary:hover {
    background: #336e95;
    color:#fff;
    cursor: pointer;
}
.btn-danger {
    background: #d4323f;
    color: #fff;
    border:none;
}
.btn-danger:hover {
    background: #b92e3c;
    border:none;
}
